<div class="banner">
    <%= video_tag src="videos/friends.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "vid" %>
    <h1>CampQ</h1>
    <h3>The Experience You've Been Missing Out On</h3>
    <%= link_to "Browse", products_path,  class: "nav-item btn btn-success", id: "browse-btn" %>
</div>
<div class="container">
    <div class="row">
        <section class="content">
            <div class="about">
                <div class="about-section" id="about-camps">
                    <h3>CampQ, a place where you can find and rent out all the essentials for camping</h3>
                    <ul>
                        <li><p><i class="fas fa-plus"></i> Find the camping items you've been looking for</p></li>
                        <li><p><i class="fas fa-plus"></i> Rent the camping gear you've always wanted</p></li>
                        <li><p><i class="fas fa-plus"></i> Rent out your camping items</p></li>
                        <li><p><i class="fas fa-plus"></i> All items rented out at affordable prices</p></li>
                    </ul>
                </div>
                <div class="about-section" id="about-images">
                    <div class="about-images" id="about-img-1">
                        <img src="https://preview.redd.it/i9gtrrh4djv51.jpg?width=960&crop=smart&auto=webp&s=86aedf14f51ba5c5928799c22c4397146bc4511e" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="container">

          <h3 id="popular-headerx">Most Popular Camping Items</h3>

            <div class="owl-carousel owl-theme mt-3">
              <% @products.each do |product| %>
              <%= link_to product_path(product) do %>
                <%= render 'popular-card', product: product %>
                <% end %>
              <% end %>
            </div>
        </section>
            </div>
        </section>
        <section class="content">
            <div class="reviews">
                <div class="reviews-story col">
                    <h3>Great stories begin with CampQ</h3>
                    <ul>
                        <li><p>"Good gosh folks! I rented this 2-man tent due to the low price and the high scoring reviews here at CampQ and the reviews are spot on."</p></li>
                        <br>
                        <li><p>"I'm not exactly an expert on boots, this is the most I have ever spent on a pair of hiking boots, and I know they can run 4x the price of these easily. I used to buy nice work boots, and not have enough left over for nice hiking boots, so I either hiked in work boots, or bought $25-30 hiking boots. It was finally time for an upgrade. I couldn't be happier."</p></li>
                        <br>
                        <li><p>"I would recommend this to people. I cant speak to the long term durability as of yet.But sofar I've had no problems and it stood up in heavy down pours/winds with the aid of a tarp. And let me mention the bug netting saved me on a camping trip where i forgot bug spray. The bug mesh worked perfectly. Once i killed all the bugs that got in. ZERO bugs all night and i fell asleep like a baby."</p></li>
                    </ul>
                </div>
                <div class="reviews-image col">
                    <img id="review-img" src="https://external-preview.redd.it/OjnL8CVDIFXnsmnxuJe3pfQex3kk1WduBE0gpCMQqUs.jpg?auto=webp&s=9e145973a3fc86529bec1ffe5d2ea274a2babc18" alt="">
                </div>
            </div>
        </section>
        <section class="content">
            <div class="search">
                <h3 id="search-header">Discover the camping experience you've been missing out on</h3>
                <%#= simple_form_for :search, url: products_path, method: "GET", html: { class: 'form-inline' } do |f| %>
                    <%#= f.input :name, input_html: {value: ""} %>
                    <%#= f.submit "Search", class: "btn btn-primary" %>
                <%# end %>
                <%= link_to "Browse", products_path,  class: "nav-item btn btn-success", id: "browse-btn" %>
        </section>
    </div>
</div>
