<div class="container p-16">
  <h1 style="text-align: center" class="m-4 4">Dashboard</h1>
  <div class="d-flex mt-sm-4">
    <div style="text-align: center; padding: 32px; margin-top: 64px; margin-right: 32px;">
      <img src="https://kitt.lewagon.com/placeholder/users/cveneziani" class="avatar-profile" alt="Avatar">
      <h2>Hello <%=current_user.first_name%>!</h2>
      <h4><%=current_user.email%></h4>
      <h4><%=current_user.location%></h4>
    </div>
    <div>
     <%= month_calendar(events: @bookings, attribute: :start_time, end_attribute: :end_time) do |date, bookings| %>
                <%= date %>
                <% bookings.each do |booking| %>
                  <div class="booking-profile-calendar">
                    <p><%= booking.product.name %></p>
                  </div>
                <% end %>
              <% end %>
    </div>
  </div>
    <hr>
  <h1 style="text-align: center" class="m-4 4">Bookings</h1>
    <div class="inframe card-columns p-4 mb-4">
      <% @bookings.each do |booking| %>
        <li class="p-2 mb-4" style="list-style-type:none;">
          <div class="img-profile">
          <span class="card-category py-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/400x640/?camp);">
          </span>
            <ul id="details">
              <li><b>Booking status: </b><%= booking.status %></li>
              <li><b>Price: </b> ￥<%= booking.product.price %></li>
              <li><b>Starting Date: </b><%= booking.start_time %></li>
              <li><b>Ending Date: </b><%= booking.end_time %></li>
            </ul>
          <% end %>
          </div>
      </div>
  </div>
