<div class="container">
    <div class="row">
        <h1>Results</h1>
        <% if @query %>
            <h3>You searched for <span style="color:#CF0021;"><strong><%= @query %></strong></span> . <br>We found <span style="color:#CF0021;"><strong> <%= @products.count == 1 ? "1 product" : "#{@products.count} products" %></strong></span> out of <%= Product.count %></h3>
        <% else %>
            <h3>Showing all <%= Product.count %> products</h3>
            <% @products.each do |product| %>
            <div>
                <%= product.name %>
                <%= product.price %>
            </div>
            <% end %>
        <% end %>
    </div>
</div>
