<div class="container">
  <div class="row">
    <div class="product-content">
      <% if @query %>
        <h3>You searched for <span style="color:#CF0021;"><strong><%= @query %></strong></span> . <br>We found <span style="color:#CF0021;"><strong> <%= @products.count == 1 ? "1 product" : "#{@products.count} products" %></strong></span> out of <%= Product.count %></h3>
      <% end %>
      <h3>Showing <%= @products.count %> products</h3>
      <section class="cards">
        <% @products.each do |product| %>
          <div class="card-trip">
            <%= link_to product_path(product) do %>
            <%= cl_image_tag product.photos[1].key, width: 100 %>
            <% end %>
            <div class="card-trip-infos">
             <div style="display: ;">
               <figcaption><%= link_to product.name, product_path(product) %></figcaption>
               <figcaption><strong>$<%= product.price %></strong></figcaption>
             </div>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>

<script>

    const collapse_button = document.querySelector('#filter');
    const collapse_icon = document.querySelector('.icon');

    collapse_button.addEventListener("click", (event) => {
        if (collapse_icon.classList.contains('fa-chevron-down')) {
            collapse_icon.classList.replace('fa-chevron-down', 'fa-chevron-up');
        } else {
            collapse_icon.classList.replace('fa-chevron-up', 'fa-chevron-down');
        };
    });

    const slider = document.querySelector(".slider");
    console.log(slider.value);
    const span = document.querySelector(".value");
    console.log(span);
    span.innerText = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function() {
      span.innerHTML = this.value;
    }

</script>
